.details {
  &__list {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    padding-top: 90px;
    padding-bottom: 80px;
    padding-inline: 75px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    background-color: var(--basic-white);
    &--mod {
      background-color: var(--special-cold-light12);
    }
    &--mod-2 {
      background-color: var(--special-cold-light20);
    }
  }
  &__icon {
    width: 75px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 23px;
    color: var(--icon);
    svg {
      display: block;
      margin-top: auto;
      object-fit: contain;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-transform: uppercase;
    text-align: center;
  }
  &__number {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 117%;
    text-align: center;
  }
  &__item--big {
    grid-column: span 3;
    background-color: var(--special-cold-light);
    color: var(--basic-white);
    padding: 0;
    display: block;
  }
  &__item--big &__title {
  }
  &__item-grid {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr 2fr;
  }

  &__item--big-reverse  &__item-grid {
    grid-template-columns: 2fr 1fr;
  }
  &__item--big-reverse  &__photo {
    order: -1;
  }
  &__item-gruop {
    padding-top: 90px;
    padding-bottom: 80px;
    padding-inline: 75px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  &__photo {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
