.header {
  // position: fixed;
  // z-index: 10;
  // width: 100%;
  // transition: background-color 0.3s, color 0.3s, padding 0.3s;
  padding: 0;

  .wrapper {
    background-color: var(--basic-white);
    color: var(--basic-black);
  }

  &__grid {
    display: grid;
    gap: 47px;
    align-items: center;
    grid-template-columns: auto 1fr auto;
  }
  &__logotype {
    max-width: 140px;
    display: block;
    margin-bottom: -5px;
    position: relative;
    z-index: 2;
    img {
      display: block;
    }
  }
  &__user-nav {
    display: flex;

    .button {
      margin-left: 20px;
    }
  }
}
