.hero {
  background-color: #fff;
  background-image: url(../img/hero/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: calc(57px + 25px);
  position: relative;
  background-position: center;
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 57px;
    background-image: url(../img/hero/decorate-footer.svg);
    background-size: cover;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
