:root {
  --font-family: "PT Sans", sans-serif;


	--status-success: #7db550;
	--status-warning: #fd922e;
	--status-error: #ff5757;
	--basic-black: #000;
	--basic-dark: #333;
	--basic-gray: #e6e6e6;
	--basic-light: #f2f2f2;
	--basic-white: #fff;
	--special-cold-dark: #68a2ca;
	--special-cold-light: #83b3d3;
	--special-cold-light12: rgba(131, 179, 211, 0.12);
	--special-cold-light20: rgba(131, 179, 211, 0.2);
	--special-neutral-light: #7db54f;
	--special-neutral-dark: #6c9e42;
	--special-warm-dark: #615048;
	--special-warm-light: #756257;
}
