.button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  background: var(--special-warm-light);
  padding: 9px 34px 8px;
  height: 39px;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  border: none;
  transition: all 0.3s;
  box-shadow: none;
  border-radius: 4px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--basic-white);

  svg {
    pointer-events: none;
  }

  * {
    flex-shrink: 0;
  }

  &--center {
    margin: 0 auto;
  }
  &--big {
    height: 62px;
    max-width: 575px;
    width: 100%;
  }

  @media (hover: hover) {

    &:hover,
    &:active,
    &:focus {
      background: var(--special-warm-dark);
    }
  }

  @media (max-width: 1023px) {
    padding: 10px 28px;
  }

  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}

.button--mod {
  color: var(--basic-white);
  background-color: var(--special-cold-light);

  &:hover {}
}
