.contact-form {
  &__item {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr auto;
  }
  &__input {
    max-width: 100%;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: var(--basic-black);
    border: none;
    background: var(--basic-light);
    height: 60px;
    border-radius: 10px 0 0 10px;
    padding: 15px 22px;
  }
  .button {
    height: 60px;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 20px;
  }
  .button::before {
    border-radius: 0 10px 10px 0;
    transform: none !important;
  }
}
