.title {
  margin-top: 0;
  font-style: normal;
  position: relative;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);

}
