.wrapper {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  background-color: var(--basic-white);

  // @media (max-width: 1023px) {
  //   max-width: 100%;
  //   padding-inline: 20px;
  // }
  // @media (max-width: 767px) {
  //   padding-inline: 10px;
  // }
}
